@model Detail

<form method="post" asp-action="Upsert">
    <div class"border p-3 mt4">
        <div class"row pb-2">
            <h2 class="text-primary">Edit a Todo Task</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@

        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DaysUntilEvent"></label>
            <input asp-for="DaysUntilEvent" class="form-control" />
            <span asp-validation-for="DaysUntilEvent" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StartTime"></label>
            <input asp-for="StartTime" class="form-control" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EndTime"></label>
            <input asp-for="EndTime" class="form-control" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="RoomName"></label>
        <input asp-for="RoomName" class="form-control" />
        <span asp-validation-for="RoomName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Notes"></label>
        <textarea asp-for="Notes" rows="5" class="form-control"></textarea>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Cost"></label>
        <input asp-for="Cost" class="form-control" />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PercentageOfTotalMarks"></label>
        <input asp-for="PercentageOfTotalMarks" class="form-control" />
        <span asp-validation-for="PercentageOfTotalMarks" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NumberOfParticpants"></label>
        <input asp-for="NumberOfParticpants" class="form-control" />
        <span asp-validation-for="NumberOfParticpants" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NumberOfParticpants"></label>
        <input asp-for="NumberOfParticpants" class="form-control" />
        <span asp-validation-for="NumberOfParticpants" class="text-danger"></span>
    </div>

     <div class="mb-3">
        <label asp-for="SubjectsId"></label>
        <select asp-for="SubjectsId" asp-items="ViewBag.SubjectList" class="form-select">
            <option disabled selected>-- Select Subject --</option>
        </select>
        <span asp-validation-for="SubjectsId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
    <a asp-controller="CoverType" asp-action="Index" class="btn btn-primary" style="width:150px">
        Back to List
    </a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />

    }
    }